@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --color-oxford-blue: #102540;
  --color-white-smoke: #F3F3F3;
  --color-charcoal: #313D4D;
  --color-antiflash-white: #F1F3F2;
  --color-giants-orange: #EA662D;
  --color-gray: #777B7E;
}

/*
Class Styles
*/

.nav-link {
  @apply hover:text-giants-orange rounded p-2 hover:bg-white font-bold;
}

.menu-btn.p-button {
  background-color: #F26101 !important; 
  color: #F5F5F5 !important; 
  border: 0 !important;
  box-shadow: none !important;
}

.menu-btn.p-button:hover {
  background-color: #D45601 !important; 
}

.close-btn {
  background-color: transparent !important;
  color: #F26101 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.close-btn:hover {
  background-color: #F26101 !important;
  color: #F5F5F5 !important;
}